* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 20px;
	line-height: 1.42;
}
body.home {
	background-color: #FFE200;
}
body.products {
	background-color: #252525;
}
body.about {
	background-color: #FF5400;
}
body.influences {
	background-color: #00CEFF;
}
body.blog {
	background-color: #F6F1F6;
}
body.dark-text,
body.light-text .inverse,
body.light-text article a {
	color: #303030;
}
body.light-text,
body.dark-text .inverse,
body.dark-text article a {
	color: #ececec;
}

a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a.inherit {
	color: inherit;
}

.content {
	max-width: 500px;
	margin: auto;
	padding: 1em;
}

header {
	margin-bottom: 1.42rem;
}
header > * {
	text-align: center;
}

h1 {
	margin-bottom: 1em;
	text-align: center;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 24px;
}
h5 {
	font-size: 1rem;
	font-weight: normal;
	opacity: 0.5;
}

p {
	margin-bottom: 1.42em;
}

li {
	margin-bottom: 0.71em;
}

.mark {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	font-size: 13px;
	font-weight: normal;
	font-style: italic;
}
.mark a {
	display: block;
	padding: 5px 8px;
}
.mark a:hover {
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.1666);
	border-radius: 2px;
}
.mark--text {
	opacity: 0.3;
}

/* Home */

nav.primary {
	position: relative;
	top: 50vh;
	margin-top: -3em;
	padding: 0 8vw;
	text-align: right;
}

/* About */

.links {
	list-style: none;
	text-align: center;
}

/* Influences */

.major-item {
	margin-bottom: 1.42em;
	text-align: right;
}
.major-item--centered {
	text-align: center;
}
.major-item a {
	display: block;
	color: inherit !important;
}
.major-item a:hover {
	margin: -0.5em -0.666em;
	padding: 0.5em 0.666em;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.1666);
	border-radius: 2px;
}
.major-item .fa {
	width: 1.777em;
	font-size: 200%;
	vertical-align: middle;
}
